apiVersion: apps/v1
kind: Deployment
metadata:
  name: traffic-gen
spec:
  replicas: 1  # We will scale this up later to simulate DDoS!
  selector:
    matchLabels:
      app: traffic-gen
  template:
    metadata:
      labels:
        app: traffic-gen
    spec:
      containers:
      - name: traffic-gen
        image: ullas474/autonet-traffic-gen:latest
        imagePullPolicy: Always
        env:
          - name: PYTHONUNBUFFERED
            value: "1"