apiVersion: apps/v1
kind: Deployment
metadata:
  name: traffic-gen
spec:
  replicas: 1
  selector:
    matchLabels:
      app: traffic-gen
  template:
    metadata:
      labels:
        app: traffic-gen
    spec:
      containers:
      - name: traffic-gen
        image: ullas474/autonet-traffic-gen:latest
        env:
        - name: PYTHONUNBUFFERED
          value: "1"